@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700');

/* General Resets */
* {
    padding: 0;
    margin: 0;
    font-family: 'Quicksand';
}
html {
    padding: 0;
    margin: 0;
}

/* Global Page Settings */
body {
    background-color: black;
    overflow: hidden;
    padding: 0;
    margin: 0;
}

/* No Link Marks */
a:focus {
    outline: none;
}

/* Top Navbar */
.topbar {
    background-color: rgb(0,0,0);
    height: 10vmin;
    padding-right: 5vmin;
    box-shadow: 0 2.5vmin 2.5vmin 0 rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 3;
}

.topright a {
    float: right;
    font-variant: small-caps;
    font-size: 3vmin;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1.25vmin;
    line-height: 7.5vmin;
    text-decoration: none;
    font-variation-settings: 'wght' 600;
}
.topright a:hover {
    background-color: rgb(16,16,16);
    position: relative;
    z-index: 4;
}

.topleft a {
    float: left;
    font-size: 3vmin;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1.25vmin;
    line-height: 7.5vmin;
    text-decoration: none;
    font-variation-settings: 'wght' 600;
}
.topleft img {
    float: left;
    height: 7.5vmin; 
    width: 7.5vmin;
}

/* Wrapper for scrollable part of the page */
.scrollbody {
    overflow-y: auto;
    width: 100vw;
    height: calc(100vh - 20vmin);
    background-color: rgb(23, 23, 23);
    position: relative;
    z-index: 1;
    scroll-behavior: smooth;
}

.tab {
    font-variant: small-caps;
    padding-top: 4vmin;
    font-size: 5vmin;
    color: rgb(255, 255, 255);
    text-align: center;
    text-decoration: none;
    font-variation-settings: 'wght' 500;
}

/* In-box captions */
.cap {
    font-size: 4vmin;
    color: rgb(255, 255, 255);
    font-variation-settings: 'wght' 600;
    line-break: normal;
    padding-left: 8vmin;
    padding-top: 4vmin;
}

/* In-box dates */
.date {
    color: rgb(127, 127, 127);
    font-size: 3.5vmin;
    font-variation-settings: 'wght' 400;
    padding-left: 8vmin;
    padding-top: 0vmin;
}

/* Floating box in scrollable part */
.contentbox {
    height: min-content;
    margin: 5vmin;
    padding: 0;
    width: calc(100vw - 15vmin);
    background-color: rgb(31, 31, 31);
    box-shadow: 1vmin 1vmin 3vmin 0 rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 2;

}
.text {
    font-size: 2.5vmin;
    color: rgb(255, 255, 255);
    font-variation-settings: 'wght' 400;
    line-break: normal;
    width: calc(100% - 4vmin);
    padding-left: 4vmin;
    padding-right: 4vmin;
    padding-bottom: 4vmin;
    padding-top: 1vmin;
}

.missingpost {
    font-size: 2.5vmin;
    color: rgb(255, 255, 255);
    font-variation-settings: 'wght' 400;
    line-break: normal;
    text-align: center;
    width: calc(100% - 4vmin);
    padding: 8vmin;
}

.columns {
    display: flex;
}

.post_image {
    width: 30vmin;
    padding: 4vmin;
}

/* Footer */
.bottombar {
    height: 10vmin;
    background-color: rgb(31, 31, 31);
    box-shadow: 0 -2.5vmin 2.5vmin 0 rgba(0, 0, 0, 0.3);
    position: relative;
    z-index: 3;
}
.bottombar img {
    height: 5vmin;
    width: 5vmin;
    padding: 2.5vmin;
}
.bottombar img:hover {
    background-color: rgb(39,39,39);
    position: relative;
    z-index: 4;
}

.bottombar p {
    display: inline;
    float: right;
    font-size: 2vmin;
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 1.25vmin;
    line-height: 7.5vmin;
    text-decoration: none;
}

/* width */
::-webkit-scrollbar {
    width: 1vmin;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }